@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
body {
  box-sizing: border-box;
}
.li-navbar-header {
  display: grid;
  grid-template-columns: repeat(7, auto);
  list-style: none;
  font-size: 18px;
  color: black;
  border: black solid 1.7px;
  /* text-align: center; */
  list-style-type: none;
  /* padding-top: 25px; */
  text-decoration-color: none;
  align-items: center;
}
.li-navbar-header a {
  /* color: #aaa; */
  /* border: black solid 1px; */
  /* background-color: greenyellow; */
  padding: 15px;
  text-decoration: none;
}
.li-navbar-header {
  font-size: 50;
  border: 1px red solid;
}
.spaar {
  background-color: rgb(36, 224, 36);
  border-radius: 30px;
  border: black solid 3.5px;
}
.spaar:hover {
  border-radius: 30px;
  background-color: rgb(246, 248, 246);
  border: green solid 3.5px;
  color: black;
}
.container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr fr auto;
  margin: 0 5%;
  padding: 10px 0 0 25px;
  font-family: "Satisfy", cursive;
  font-size: 100px;
  color: rgb(250, 249, 249);
  background: url(img/morgen-foto.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  border-radius: 0 0 30% 30%;
}
.par {
  color: aliceblue;
  font-size: 50px;
  padding: 4%;
}
/* .goedemorgen {
  var: (--goedemorgen);
} */
