@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
body {
  box-sizing: border-box;
}
.li-navbar-header {
  display: grid;
  grid-template-columns: repeat(7, auto);
  list-style: none;
  font-size: 18px;
  color: black;
  border: black solid 1.7px;
  /* text-align: center; */
  list-style-type: none;
  /* padding-top: 25px; */
  text-decoration-color: none;
  align-items: center;
}
.li-navbar-header a {
  /* color: #aaa; */
  /* border: black solid 1px; */
  /* background-color: greenyellow; */
  padding: 15px;
  text-decoration: none;
}
.li-navbar-header {
  font-size: 50;
  border: 1px red solid;
}
.spaar {
  background-color: rgb(36, 224, 36);
  border-radius: 30px;
  border: black solid 3.5px;
}
.spaar:hover {
  border-radius: 30px;
  background-color: rgb(246, 248, 246);
  border: green solid 3.5px;
  color: black;
}
.container 
/* .even */
 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  margin: 0 5%;
  padding: 10px 0 0 25px;
  font-family: "Satisfy", cursive;
  font-size: 100px;
  color: rgb(250, 249, 249);
  background: url(img/morgen-foto.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  border-radius: 0 0 40% 40%;
  border: black solid 1px;
}
.par {
  color: aliceblue;
  font-size: 50px;
  padding: 4%;
}
.even {
  display: grid;
  grid-template-columns: 50% 50%;
  border: solid black 1px;
  padding: 10px;
  margin: 7px 5%;
  align-items: center;
}
.even img {
  width: 100%;
}
.even1 {
  color: rgb(214, 85, 76);
  font-family: "Satisfy", cursive;
  font-size: 70px;
  padding: 15px;
}
.even-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.even-ont {
  display: inline;
  font-size: 20px;
  background-color: rgb(36, 224, 36);
  border-radius: 30px;
  border: black solid 3.5px;
  text-align: center;
  padding: 5px;
  margin: 0 0 0 50px;
}
.even-ont:hover {
  border-radius: 30px;
  background-color: rgb(246, 248, 246);
  border: green solid 3.5px;
  color: black;
}
.smaken {
  display: grid;
  grid-gap: 7px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: gray;
  font-size: 100px;
  grid-template-areas:
    "smaak1 smaak1 smaak1"
    "smaak2 smaak2 smaak3"
    "smaak4 smaak4 smaak3";
}
.smaak1 {
  /* grid-column: 1 / span 3; */
  background-color: aqua;
}
.smaak2 {
  background-color: blueviolet;
  /* grid-column: 1 / span 2; */
}
.smaak3 {
  background-color: brown;
  /* grid-column: 3 / 4;
  grid-row: 2 / 4;
  grid-template-areas:  */
}
.smaak4 {
  background-color: yellowgreen;
  /* grid-column: 1 / span 2; */
}
